:root {
    /* Theme name */
    --theme-name: dark;

    /* Theme different attributes */
    --theme-scrollbar-color: #383f48;
    --theme-transition: 0.3s ease;
    --theme-box-shadow: 0 0px 2px 0 rgba(65, 69, 88, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.07);

    /* Theme Colors */
    --theme-main-color: #2C7BE5;
    --theme-secondary-color: #F5803E;
    --theme-danger-color: #E63757;
    --theme-success-color: #00D27A;
    --theme-cancel-color: #748194;

    /* Theme Background colors */
    --theme-body-background-color: #0B1727;
    --theme-box-background-color: #121E2D;
    --theme-icon-background-color: #344050;
    --theme-icon-background-color-on-hover: #4d5969;

    /* Theme Text colors */
    --theme-text-color: #bfccdd;
    --theme-lighter-text-color: #b6c0cd;
    --theme-lightest-text-color: #5e6e82;
    --theme-text-color-on-hover: #edf2f9;
    --theme-button-text-color: #dbdbdb;

    /* Theme Borders */
    --theme-border: 1px solid var(--theme-border-color);
    --theme-border-color: #2e3a48;
    --theme-border-radius: 6px;

    /* Theme Form components */
    --theme-checkbox-border-color: #3c4d62;
    --theme-radio-border-color: #3c4d62;

    /* Theme table  */
    --theme-table-text-color: #9da9bb;
    --theme-table-tr-hover-background-color: #0D2545;
    --theme-colorful-table-border-color: #5e6570;

    /* Theme Badges */
    --theme-yellow-badge-background: #333332;
    --theme-yellow-badge-text-color: #d7e522;

    --theme-pink-badge-background: #330d34;
    --theme-pink-badge-text-color: #ed3aa4;

    --theme-orange-badge-background: #311a0c;
    --theme-orange-badge-text-color: #f9ae83;

    --theme-blue-badge-background: #082633;
    --theme-blue-badge-text-color: #75d4fe;

    --theme-red-badge-background: #2e0b11;
    --theme-red-badge-text-color: #ef7f93;

    --theme-grey-badge-background: #171a1e;
    --theme-grey-badge-text-color: #6d798b;

    --theme-green-badge-background: #002a18;
    --theme-green-badge-text-color: #5ce2aa;

    /* Theme backgrounded texts. Especially used in tables */
    --theme-backgrounded-text-bg-color-1: #163968;
    --theme-backgrounded-text-color-1: #88BFFF;

    --theme-backgrounded-text-bg-color-2: #1B3D2F;
    --theme-backgrounded-text-color-2: #8EDDA4;

    --theme-backgrounded-text-bg-color-3: #4E3A1E;
    --theme-backgrounded-text-color-3: #FFB266;

    --theme-backgrounded-text-bg-color-4: #4A2C36;
    --theme-backgrounded-text-color-4: #F48FB1;

    --theme-backgrounded-text-bg-color-5: #3B2C4A;
    --theme-backgrounded-text-color-5: #CE93D8;

    --theme-backgrounded-text-bg-color-6: #204e0c;
    --theme-backgrounded-text-color-6: var(--theme-text-color);

    --theme-backgrounded-text-bg-color-7: #72581c;
    --theme-backgrounded-text-color-7: var(--theme-text-color);

}
