/* ------------ Authentication pages ------------ */
/* Login Page */
.login-page .main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.auth-box {
    min-width: 520px;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.auth-box__logo {
    margin: auto;
}

.auth-box__logo .logo__image {
    width: 180px;
    display: flex;
}

.auth-box__title {
    margin: 24px 0;
    font-size: 28px;
    font-weight: 600;
}

/* ------------ /end Authentication pages ------------ */


/* ------------ Comment pages ------------ */
/* Create form */
.create-comments-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.create-comments-form .form__submit {
    margin-left: auto;
}

/* List */
.comments-list-wrapper {
    margin: 20px 0 40px;
    padding: 20px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comments-list__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 4px;
    border-bottom: var(--theme-border);
}

.comments-list__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.comments-list__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comments-list__ava .ava__title {
    font-weight: 500;
}

.comments-list__actions {
    display: flex;
    gap: 6px;
}

.comments-list__actions .button--rounded {
    padding: 6px;
}

.comments-list__item-body {
    padding-left: 48px;
    font-size: 15px;
}

/* ------------ /end Comment pages ------------ */


/* ------------ Processes pages ------------ */
/* Create & Edit pages */
.processes-create__forecast-inputs-wrapper,
.processes-stage-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.processes-create__forecast-inputs-wrapper:empty,
.processes-stage-inputs-wrapper:empty {
    display: none;
}

/* ------------ /end Processes pages ------------ */


/* ------------ User pages ------------ */
.users-index__photo {
    border-radius: 50%;
}
/* ------------ /end User pages ------------ */


/* ------------ MAD KPI pages ------------ */
.mad-kpi .main-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.mad-kpi__pies-wrapper {
    display: flex;
    gap: 20px;
}

.mad-kpi__current-processes-pie,
.mad-kpi__maximum-processes-pie {
    width: 50%;
    display: flex;
    height: 380px;
}

.mad-kpi__current-processes-graph,
.mad-kpi__maximum-processes-graph {
    height: 600px;
}

/* ------------ /MAD KPI pages ------------ */
