/* ------------ Authentication pages ------------ */
/* Login Page */
.login-page .main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.auth-box {
    min-width: 520px;
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.auth-box__logo {
    margin: auto;
}

.auth-box__logo .logo__image {
    width: 180px;
    display: flex;
}

.auth-box__title {
    margin: 24px 0;
    font-size: 28px;
    font-weight: 600;
}

/* ------------ /END Authentication pages ------------ */


/* ------------ Profile page ------------ */
.profile-edit #profile-update-form {
    margin-bottom: 40px;
}
/* ------------ /END Profile page ------------ */


/* ------------ Comment pages ------------ */
/* Create form */
.create-comments-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.create-comments-form .form__submit {
    margin-left: auto;
}

/* List */
.comments-list-wrapper {
    margin-top: 20px;
    padding: 20px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.comments-list__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.comments-list__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comments-list__actions {
    display: flex;
    gap: 6px;
}

.comments-list__actions .button--rounded {
    padding: 6px;
}

.comments-list__item-body {
    padding-left: 48px;
}

.comments-list__ava .ava__name {
    font-size: 15px;
    font-weight: 600;
}

/* ------------ /end Comment pages ------------ */
